<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="./src/public/css/style.css">
</head>

<body>
    <div class="footer-basic">
        <footer>
            <div class="social">
              <a href="https://www.instagram.com/tienanh.vuw/">
                <i class="icon ion-social-instagram"></i>
                </a>
              <a href="https://www.snapchat.com/tienanh138">
                <i class="icon ion-social-snapchat"></i>
                </a>
              <a href="https://twitter.com/tienanhbghd">
                <i class="icon ion-social-twitter"></i>
                </a>
              <a href="https://www.facebook.com/tienanh.hust/">
                <i class="icon ion-social-facebook"></i>
                </a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="https://tienanhdemo.cf/blog/?page_id=53">Contact</a></li>
                <li class="list-inline-item"><a href="https://tienanhdemo.cf/blog/?page_id=52">About</a></li>
                <li class="list-inline-item"><a href="https://tienanhdemo.cf/blog/?page_id=54">Terms</a></li>
                <li class="list-inline-item"><a href="https://tienanhdemo.cf/blog/?page_id=55">Privacy Policy</a></li>
            </ul>
            <p class="copyright">TienAnhDemo.CF © 2021</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>