body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 10;
  display: inline-block;
}

table, th, td {
  border: 1px solid #868585;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 10px
}

td a {
  text-align: center;
  padding: 10px
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}

tbody tr:nth-child(even) {
  background-color: white;
}

thead {
  background-color: skyblue;
}

.btn {
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.btnDetail {
  background-color: rgb(5, 156, 25);
}

.btnEdit {
  background-color: rgb(202, 206, 2);
}

.btnDelete {
  background-color: rgb(206, 2, 2);
}

.btnClose {
  background-color: rgb(206, 2, 2);
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnAdd {
  background-color: rgb(121, 121, 121);
}

.form-container {
  width: 360px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  font-family: "Roboto", sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

button {
  background: #4caf50;
  color: white;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}